@page "/chartjs"
@using PSC.Blazor.Components.Chartjs

<PageTitle>PSC ChartJs</PageTitle>

<div>
    <div style="max-width: 50rem;">
        <Chart Config="_config1" />
    </div>
    <div style="max-width: 50rem;">
        <Chart Config="_config2" />
    </div>
    <div style="max-width: 30rem;">
        <Chart Config="_config3" />
    </div>
    <div style="max-width: 30rem;">
        <Chart Config="_config4" />
    </div>
</div>
