@page "/"

<button class="btn btn-info">
    <NavLink class="nav-link" href="chartjs">
        PSC ChartJs
    </NavLink>
</button>

<button class="btn btn-info">
    <NavLink class="nav-link" href="pax-chartjs">
        Pax ChartJs
    </NavLink>
</button>

<button class="btn btn-info">
    <NavLink class="nav-link" href="radzen">
        Radzen
    </NavLink>
</button>

<button class="btn btn-info">
    <NavLink class="nav-link" href="apex-charts">
        Apex Charts
    </NavLink>
</button>

<button class="btn btn-info">
    <NavLink class="nav-link" href="plotly">
        Plotly
    </NavLink>
</button>
