@page "/pax-chartjs"
@using pax.BlazorChartJs

<PageTitle>PAX ChartJs</PageTitle>

<div class="btn-group">
    <a href="https://ipax77.github.io/pax.BlazorChartJs/">
        <button class="btn btn-info">Test Page</button>
    </a>
</div>

<ChartComponent @ref="chartComponent"
                ChartJsConfig="chartJsConfig"
                OnEventTriggered="ChartEventTriggered">
</ChartComponent>

<ChartComponent @ref="chartComponent2"
                ChartJsConfig="chartJs2Config"
                OnEventTriggered="ChartEventTriggered">
</ChartComponent>